<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
    <p>Enter Email Address (user ID): <input type="text" name="email"/></p>
    <p>Enter Password: <input type="text" name="password"/></p>
    <input type="submit" name="submit" id="Log In"/>

</form>

